
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Add a geocoder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
</head>
<body>


<div class="wrraper">
    <nav class="navbar navbar-dark bg-primary" class="navbarStyle" >
        <p>Welcom to the Excesize 1</p>
        <div class="buttons" style="margin-top: -1%;">
            <a href="/">
                <button class="btn btn-secondary"> map view</button>
            </a>
            <a href="/listView">
                <button class="btn btn-secondary"> list view</button>
            </a>
        </div>
    </nav>


    <div class="displayData">
        <div id="map" style="width: 800px; height: 700px;"></div>
        <div id="chart" style="width: 400px; height: 400px;"></div>
    </div>


    <div><!-- make those table to take the data from db when onload and presenr it on the map and graph-->
        <table class="table" border = 1 id="graphTable" style="visibility: hidden;">
         <thead>
         <tr>
             <th>element</th>
             <th>amount</th>
         </tr>
         </thead>
             <tbody>
         {% for item in satistices %}
            <tr>
                <td>{{item["element"]}}</td>
                <td>{{item["amount"]}}</td>
            </tr>
         {% endfor %}
             </tbody>
      </table>

         <table class="table" border = 1 id="eventTable" style="visibility: hidden;">
         <thead>
         <tr>
             <th>id</th>
             <th>name</th>
             <th>type</th>
             <th>typeID</th>
             <th>description</th>
             <th>cordX</th>
             <th>cordY</th>
             <th>dateCreate</th>
             <th>timeCreate</th>
         </tr>
         </thead>
             <tbody>
         {% for event in data %}
            <tr>
                <td>{{event["id"]}}</td>
                <td>{{event["name"]}}</td>
                <td>{{event["type"]}}</td>
                <td>{{event["typeID"]}}</td>
                <td>{{event["description"]}}</td>
                <td>{{event["cordX"]}}</td>
                <td>{{event["cordY"]}}</td>
                <td>{{event["dateCreate"]}}</td>
                <td>{{event["timeCreate"]}}</td>
            </tr>
         {% endfor %}
             </tbody>
      </table>
    </div>
</div>




<script>
//convert the table into json inorder to place it into graph
var head = [], i = 0,myRows = [];
$.each($("#graphTable thead th"), function() {
    head[i++] = $(this).text();
});

$.each($("#graphTable tbody tr"), function() {
    var $row = $(this),
        rowObj = {};
    i = 0;
    $.each($("td", $row), function() {
        var $col = $(this);
        rowObj[head[i]] = $col.text();
        i++;
    })
    myRows.push(rowObj);
});

var chartLabel = []
var chartSeries = []
for(let i=0; i <myRows.length;i++){
    chartLabel.push(myRows[i].element);
    chartSeries.push(parseInt(myRows[i].amount));
}

//create the graph
    options  = {
      series: chartSeries,
      labels: chartLabel,
      chart: {
        height: 350,
        width: 500,
        type: "pie",//pie and make total false,legen on top
        animations: {
          enabled: true,
          easing: 'easeinout',
          speed: 800,
          animateGradually: {
            enabled: true,
            delay: 150
          },
          dynamicAnimation: {
            enabled: true,
            speed: 350
          }
        }
      },
      legend: {
        show: true,
        fontSize: '20px',
        position: 'left',
        onItemClick: {
          toggleDataSeries: true
        },
        onItemHover: {
          highlightDataSeries: true
        },
      },
      title: {
        text: "Total Events"
      },
      dataLabels: {
        style: {
          fontSize: '15px',
          fontWeight: 'bold',
        },
        enabled: true,
      },
      plotOptions: {
        pie: {
          donut: {
            dataLabels: {
              position: 'left'
            },
            labels: {
              show: true,
              fontSize: '30px',
              name: {
                show: true,
                // offsetY: 120,for pie
                fontSize: '30px',
                fontFamily: 'Rubik',
              },
              value: {
                show: true,
                // offsetY: 150, for pie
                position: 'left',
                fontSize: '30px',
                fontFamily: 'Helvetica, Arial, sans-serif',
                formatter: function (val) {
                  return val
                },
              },
              total: {
                show: true,//false for
                showAlways: true,//false for pie
                label: 'Total',
                fontSize: '30px',
                color: '#000000',
                formatter: function (w) {
                  return w.globals.seriesTotals.reduce((a, b) => {
                    return a + b
                  }, 0)
                }
              }
            }
          }
        }
      }
    }
var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();





//**************THE MAP SECTION***********
//convert the table into json
var head = [], i = 0,myRows = [];
$.each($("#eventTable thead th"), function() {
    head[i++] = $(this).text();
});

$.each($("#eventTable tbody tr"), function() {
    var $row = $(this),
        rowObj = {};
    i = 0;
    $.each($("td", $row), function() {
        var $col = $(this);
        rowObj[head[i]] = $col.text();
        i++;
    })
    myRows.push(rowObj);
});



var geojson = {
'type': 'FeatureCollection',
'features': []
};


//take the data from the table and put it on the map
for(let i=0; i <myRows.length;i++){
    let item = {
		'type': 'Feature',
		'properties': {
		    'id': myRows[i].id,
			'type': myRows[i].type,
			'typeID': myRows[i].typeID,
			'name': myRows[i].name,
			'message': myRows[i].description,
			'dateCreate': myRows[i].dateCreate,
			'timeCreate': myRows[i].timeCreate,
			'iconSize': [40, 40]
			},
		'geometry': {
			'type': 'Point',
			'coordinates': [myRows[i].cordX, myRows[i].cordY]
			}
        }
    geojson.features.push(item)
}


//create the map
mapboxgl.accessToken='pk.eyJ1IjoibXJpc3ZhbGlkIiwiYSI6ImNrZXY3bXFtcjB4MjMycXA3a3Znc3RkaHIifQ.Fa6Crua7ws6ssDYg56E12w';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [77.2901, 38.38144],
zoom: 7
});



//add menu where ever you right click on the map
var menu = new mapboxgl.Popup({ offset: 25 }).setHTML("<a href=/addEvent>add event</a>");
map.on("contextmenu", (e) => {
    if (e.originalEvent.button === 2) {
      localStorage.setItem("x",e.lngLat.lng);
      localStorage.setItem("y",e.lngLat.lat);
      menu.setLngLat(e.lngLat).addTo(map);
    }
});



// add markers to map
geojson.features.forEach(function(marker) {
var el = document.createElement('div');
el.className = 'marker';

if(marker.properties.type == 'flood')el.style.backgroundImage = 'url("https://library.kissclipart.com/20180904/wbe/kissclipart-marker-point-clipart-computer-icons-clip-art-3c0bfb8a199371e8.png")';
    else if(marker.properties.type == 'fire')el.style.backgroundImage = 'url("https://i.pinimg.com/originals/58/fc/d5/58fcd504bc0f87fcdef5ed0614a7e9a9.png")';
	     else if(marker.properties.type == 'plague')el.style.backgroundImage = 'url("https://agoldenhandhomecare.com/wp-content/uploads/2020/01/location-pointer.png")'

el.style.width = marker.properties.iconSize[0] + 'px';
el.style.height = marker.properties.iconSize[1] + 'px';
el.style.backgroundSize = 'contain';


// create the popup
var eventDetails =  ' event name : ' + marker.properties.name + '<br> event type : ' + marker.properties.type + '<br> description : ' + marker.properties.message +
                    '<br> date create:' + marker.properties.dateCreate +'<br> time create:' + marker.properties.timeCreate +
                    '<br> <a href=/deleteEventFromMap/' + marker.properties.id +'>delete</a>'+
                    '<br> <a href=/updateEventFromMap/' + marker.properties.id +'>edit</a>';
var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(eventDetails);



//add popup for each event on the map
var elDetailes = document.createElement('div');
elDetailes.id = 'popup';

new mapboxgl.Marker(elDetailes)
.setLngLat(marker.geometry.coordinates)
.setPopup(popup)
.addTo(map);

new mapboxgl.Marker(el)
.setLngLat(marker.geometry.coordinates)
.setPopup(popup)
.addTo(map);
});



//the api engine search of mapbox
var customData = {
'features': [
{
'type': 'Feature',
'properties': {
'title': 'Columbus Park',
'description':
"A large park in Chicago's Austin neighborhood"
},
'geometry': {
'coordinates': [-87.769775, 41.873683],
'type': 'Point'
	}
}
],
'type': 'FeatureCollection'
};


function forwardGeocoder(query) {
var matchingFeatures = [];
for (var i = 0; i < customData.features.length; i++) {
var feature = customData.features[i];
if (
feature.properties.title
.toLowerCase()
.search(query.toLowerCase()) !== -1
) {

feature['place_name'] = '?? ' + feature.properties.title;
feature['center'] = feature.geometry.coordinates;
feature['place_type'] = ['park'];
matchingFeatures.push(feature);
}
}
return matchingFeatures;
}

map.addControl(
new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
localGeocoder: forwardGeocoder,
zoom: 14,
placeholder: 'Enter search e.g. Lincoln Park',
mapboxgl: mapboxgl
})
);


map.addControl(new mapboxgl.NavigationControl());
map.addControl(
	new mapboxgl.GeolocateControl({
		positionOptions: {
		enableHighAccuracy: true
	},
	trackUserLocation: true
	})
);

</script>

</body>
</html>